.products {
    width: 100%;
    background-color: $primary-color;
    background-position: center;
    background-size: cover;
    position: relative;
}

.products-list {
    display: flex;
    gap: 120px;
    margin: 120px auto;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 0 50px;

    @media (max-width: $phone-max) {
        margin: 60px auto;
    }
}

.products-elements {
    position: relative;
    display: flex;
    gap: 80px;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    padding: 80px;
    border: 3px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: 1000px) {
        gap: 30px;
        padding: 30px;
        margin: 0 30px;
        flex-direction: row;
    }

    @media (max-width: $phone-max) {
        gap: 40px;
        padding: 40px;
        margin: 0 40px;
        flex-direction: column;
    }
}

.child {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        max-height: 400px;
        min-height: 50px;
    }

    p {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        word-break: break-word;
        color: black;
        height: 300px;
        overflow-y: auto;
        text-align: justify;
        margin-bottom: 20px;

        @media (max-width: 1000px) {
            margin-bottom: 20px;
            font-size: 15px;
            height: 200px;
        }


        @media (max-width: $phone-max) {
            margin-bottom: 20px;
            font-size: 15px;
            height: 100px;
        }
    }
}

/* Track */

.detailsBtn {
    padding: 10px;
    background: $mauve;
    width: 250px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    border: 3px solid $mauve-darker;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: $phone-max) {
        line-height: 10px;
    }
}

.detailsBtn:hover {
    background-color: $yellow-ish;
    transition: 1s;
    text-decoration: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}