.section {
    position: relative;
    width: 100%;
    background-color: $cement;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid $cement-darker;

    .filterBtn {
        display: inline-block;
        margin: 15px 0;
        background: $ocean-blue;
        width: 200px;
        padding: 10px;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #000000;
        border: 3px solid $ocean-blue-darker;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (max-width: 1500px) {
            width: 150px;
            font-size: 20px;
            margin: 15px 0;
        }

        @media (max-width: 1100px) {
            width: 100px;
            font-size: 15px;
            margin: 15px 0;
        }

        @media (max-width: $phone-max) {
            width: auto;
            font-size: 15px;
            margin: 10px 0;
        }
    }

    .filterBtn:hover {
        background-color: $ocean-blue-darker;
        transition: 1s;
    }
}
