.header {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    background-color: #8860D0;

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        h1 {
            font-family: 'Open Sans';
            font-style: italic;
            font-weight: 600;
            font-size: 45px;
            line-height: 61px;
            color: #000000;
        }

        .header-content-right {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            .creds {
                display: inline-block;
                line-height: 61px;
                text-align: center;
                text-decoration: none;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                color: #000000;
            }

            .creds::after {
                content: '';
                width: 0%;
                height: 2px;
                background: #000000;
                display: block;
                margin: auto;
                transition: 0.5s;
            }

            .creds:hover::after {
                width: 100%;
            }

            h2 {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 61px;
                color: #000000;
            }
        }
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;
        margin-bottom: 20px;

        span {
            background-color: #000000;
            width: 40px;
            height: 4px;
            border-radius: 2px;
            display: block;
            transition: all .2s ease-in-out;
        }

        &.open {
            span {
                &:first-of-type {
                    transform: rotate(-45deg) translate(-7px, 5px);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:last-of-type {
                    transform: rotate(45deg) translate(-5px, -5px);
                }
            }
        }
    }
}
