.section {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 75px;
    background-color: #C1C8E4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .filterBtn {
        display: inline-block;
        margin: 10px 0 10px 0;
        background: #5AB9EA;
        width: 200px;
        line-height: 55px;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #000000;
    }

    .filterBtn:hover {
        background-color: #085bd8;
        transition: 1s;
    }
}
