.productDetails {
    width: 100%;
    background-color: #84CEEB;
    background-position: center;
    background-size: cover;
    position: absolute;

    .product-box {
        background: #8860D0;
        border-radius: 10px;
        width: 70%;
        margin: 120px auto;
        padding: 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: $phone-max) {
            margin: 10% auto;
            padding: 40px;
        }
    }

    .flex-child {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }



    h1, h2, h3, h4 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        color: #000000;

        @media (max-width: $phone-max) {
            font-size: 20px;
            line-height: normal;
        }
    }

    h1, h2 {
        text-align: center;
        font-weight: 600;
    }

    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        color: #000000;
        text-align: justify;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        @media (max-width: $phone-max) {
            font-size: 15px;
            line-height: normal;
        }
    }

    img {
        max-height: 400px;
        min-height: 50px;
    }

    .flex-child-second {
        flex: 50%;
    }

    ul {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        color: #000000;

        @media (max-width: $phone-max) {
            font-size: 15px;
            margin-bottom: 0;
            line-height: normal;
        }
    }

    li {
        padding: 5px;
    }
}
