.section {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 75px;
    background-color: #C1C8E4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .section-element {
        margin: 10px 0;
        background: #5AB9EA;
        width: 200px;
        border-radius: 50px;

            a {
                text-align: center;

                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 61px;
                color: #000000;
            }
    }
}
