// colors
$sky-blue: #84CEEB;
$ocean-blue: #5AB9EA;
$mauve: #8860D0;
$yellow-ish: #FFE28A;
$cement: #C1C8E4;

$sky-blue-darker: #387493;
$ocean-blue-darker: #085bd8;
$mauve-darker: #573e86;
$yellow-ish-darker: #796c43;
$cement-darker: #8e93a9;

$primary-color: $sky-blue;
$secondary-color: $mauve;

// fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "MyWebFont", sans-serif;

// sizes
$container: 1200px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 768px;
$phone-small-max: 320px;

